@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 560px;
  padding: 30px 20px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 10px auto;
}

h1 {
	text-indent: 20px;
	margin-bottom: 20px;
}

main#main>div.colWid span:nth-child(1) {
	width: 60px;
}
main#main>div.colWid span:nth-child(2) {
	flex: 1;
}
main#main>div.colWid span:nth-child(3) {
	width: 100px;
}
main#main>div.colWid span:nth-child(4) {
	width: 80px;
}
main#main>div.colWid span:nth-child(5) {
	width: 70px;
}

div#headerRow {
	background-color: rgba(0, 138, 255, 0.3);
}
div#headerRow span {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	padding: 10px 4px;
	border-bottom: 2px solid #ddd;
}

#main div.dataRow {
	border-bottom: 2px solid #ccc;
}
#main div.dataRow:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#main div.dataRow span {
	font-size: 16px;
	padding: 7px 4px;
}
#main div.dataRow span:not(:nth-child(2)) {
	text-align: center;
}
